<div class = "site-container">


<% if session[:user_id] %>
<h2 style = "color: white"> Please Log Out First </h2></br>
<a href="/logout"><button style = "color:black">Logout</button></a>
<% else %>


<%= form_tag %>

<%= text_field_tag :name, nil, placeholder: "User Name" %></br></br>
<%= password_field_tag :password, nil, placeholder: "Password" %></br></br>
<%= submit_tag "Log In" %>

<% end %>

</div>



