<div class = "site-container">



<%= form_for(@user) do |x| %>

<%= x.text_field :name, placeholder: "Name" %></br></br>
<%= x.text_field :email, placeholder: "E-mail" %></br></br>
<%= x.password_field :password, placeholder: "Password" %></br></br>
<%= x.hidden_field :location, value: '' %>
<%= x.hidden_field :image, value: 'http://www.dcsportsfan.com/siteresources/images/defaultavatar.jpg' %>
<%= x.submit  "Create Account"%>
<% end %>


</div>
<script>
$(document).ready(function(){
	window.navigator.geolocation.getCurrentPosition(function(pos) { 
  console.log(pos); 
  var lat = pos.coords.latitude;
  var lon = pos.coords.longitude;
  var location = lat + ", " + lon
  console.log (location)
	$('body').append("<h5 style = 'display:none'>"+ location + "</h5>")
	$('[name="user[location]"]').val(location)
	})
})
</script> 