<div id = "profile-container">
	<h1 id = "profile-header"> <%= @user.name %> </h1></br>

	<div id = "image-div">
		<img id = "profile-image" src = "<%= @user.image %>"></img></br>
		<button id = "edit-pic-button">Edit</button>
		<form action = "/users/<%= @user.id %>" method = "POST" style = "display: inline">
			<input type = "text" name = "image" placeholder = "Image URL" style = "display: none; width: 200px" id = "edit-image-field"></br>
			<button style = "display: none" id = "submit-pic">Submit</button>
		</form>
			<button style = "display: none; position: relative" id = "cancel">Cancel</button>
	</div>

	<div id = "about-me-div">
		<p id = "about-me"><span id = "about-me-header">About Me:</span><br> <%= @user.about %> </p>

		<form action = "/users/<%= @user.id %>" method = "POST" style = "display: inline">
			<textarea name = "about" id = "profile-text-area" rows = "7"><%= @user.about %></textarea>
			<button id = "about-confirm">Submit</button>
		</form>
			<button id = "about-cancel" style = "display: none; position: relative">Cancel</button>
			<button id ="about-update">Edit</button>

	</div> 

	</br></br><div id = "skill-input">
		<form action = "/users/<%= @user.id %>" method = "POST">
			<label for= "skill" id = "skill-label">Skills: </label>
			<select name="skill">
  			<option value="Beginner" <% if @user.skill == "Beginner" %> selected <% end %> >Beginner</option>
  			<option value="Intermediate"  <% if @user.skill == "Intermediate" %> selected <% end %> >Intermediate</option>
  			<option value="Advanced"  <% if @user.skill == "Advanced" %> selected <% end %> >Advanced</option>
			</select>
			<button>Submit</button>
		</form>
	</div>

	<h4 id="update-message"> Please Update Your Location To Find Games In Your Area!</h4>

	<div id = "location-update">
			</br><button id = "find-location">Update Location</button>
	</div>

	<div id = "search" style = "display: none">
			<form action = "/users/<%= @user.id %>" method = "POST">
				<input type = "hidden" value = "" id = "location" name = "location">
				</br><button id = "search-button">Find A Game</button>
			</form>
	</div>




<!-- <h5 id = 'message' style = "display: none"></h5> -->
<h5 id = 'location-text' style = 'display: none'><h5>

</div>


<script>
$("#edit-pic-button").click(function(){
	$("#edit-pic-button").hide()
	$("#edit-image-field").show()
	$("#submit-pic").show()
	$("#cancel").show()
});

$("#submit-pic, #cancel").click(function(){
	$("#edit-pic-button").toggle()
	$("#edit-image-field").toggle()
	$("#submit-pic").toggle()
	$("#cancel").toggle()
});

$("#about-update, #about-cancel").click(function(){
	$('#about-me').toggle()
	$('textarea').toggle()
	$('#about-confirm').toggle()
	$('#about-update').toggle()
	$('#about-cancel').toggle()
});

$('#find-location').click(function(){
		$("#find-location").hide()
		$('#update-message').html("Finding Your Location Please Wait...")
		$('#message').show()
		window.navigator.geolocation.getCurrentPosition(function(pos) { 
  	console.log(pos); 
  	var lat = pos.coords.latitude;
  	var lon = pos.coords.longitude;
  	var location = lat + " " + lon
  	console.log (location)
  	$('#location').val(location)
  	$('#update-message').html('Location Updated!!')
		
		setTimeout(function() {
			$("#find-location").toggle()
			$('#message').toggle()
			$('#search').show()
			$('#update-message').html('')
		}, 1500);
  });




});

</script>