<div class = "site-container">
	<h1 style = "color: white; font-family: 'Slackey', cursive;"> Sign Up <h1>
	<h1 style = "color: white; font-family: 'Slackey', cursive;">Find A Game</h1>
	<h1 style = "color: #FA8320">Ball</h1></br>
	<a href = "/sessions/new"><button>Login</button></a>
	<a href = "/users/new"><button>Sign Up</button></a>
</div>