<div class = "site-container">

<% if User.find(session[:user_id])[:location] != "" %>

	</br><form action = "/haver" method = "GET" >
	<button id = "baller-search" style = "color: black">Look For Games</button></br></br>
	</form>


	<a href = "/games/<%= session[:user_id] %>"><button id = "start">Start A Game</button></a></br>


	<% if @all %>
		<% game = false %>
		<% ballers = 0 %>
		<% counter = 0 %>
		<%  @all.each do |x| %>
		<% counter = counter+1 %>
			<% if x["mi"] < 5 && x["online"] == true && x['id'] != session[:user_id] %>
				</br><a href = "/users/<%= x['id'] %>/readonly" id = "search-results-name"><%= x["name"] %></a> is looking for a <a href = "/games/<%= x['id'] %>" id = "search-results-game">Game</a>
				<% game = true %>
			<% else %>
			<% if counter == @all.length && game == false %>
			<h3 id = "no-results"> No Results In Your Area </h3>
			<h3 id = "no-results"> Start Your Own Game! </h3>
			<% end %>

			<% end %>
		<% end %>

	<% end %>


<% else %>

<h2> worked</h2>

<% end %>



</div>


<script>


$("#baller-search").click(function(){
	$('#baller-search').hide()
	$('#start').show()
})


</script> 