<div class = "site-container">
	<div class="container-fluid">
	<div class = "row">
				<div class = ".col-xs-6">
				</div>
		<div class = ".col-xs-6">
			<div id = "chat-field">
				<ul id = "count"></ul>
				<h5 id = "user" style = "display: none"><%= params[:id] %></h5>
				<h5 id = "user-name" style = "display: none"><%= User.find(session[:user_id]).name %></h5>
				<input type = "text" name = "message" id = "message">
				<button id = "message-button">Send</button>
			</div>
		</div>
	</div>
	</div>
</div>

<script>
  var dispatcher = new WebSocketRails('immense-cove-1068.herokuapp.com/websocket');

	dispatcher.on_open = function(data) {  
  	console.log('Connection has been established: ', data);
  	dispatcher.trigger('hello', {stuff: $('#user-name').text() + ' has joined the chat', id: $('#user').html()});
	};

	var channel = dispatcher.subscribe('updates'+ $('#user').html());  

	$('button').click(function(){
		if ($("#message").val() && $("#message").val().length > 0) {
			var x = {stuff: $('#user-name').text()+": " + $("#message").val(), id: $('#user').html()}
			dispatcher.trigger('hello', x)
			$("#message").val("")
		}
	});

	$(window).keyup(function(e){
		if(e.keyCode == 13) {
			if ($("#message").val() && $("#message").val().length > 0) {
				var x = {stuff: $('#user-name').text()+": " + $("#message").val(), id: $('#user').html()}
				dispatcher.trigger('hello', x)
				$("#message").val("")
			}
		}
	});

	channel.bind('update', function(message) {  
  	$('#count').append("<h5>" + message + '</h5>') ;
	});
</script>