#profile-image {
	height: 200px;
	width: 200px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.site-container {
	font-family: 'Candal', sans-serif;
	font-weight: lighter;
	text-align: right;
	width:100%;
	min-height: 525px;
	background-image: url("http://boykinsbasketball.com/wp-content/uploads/2015/11/Basketball-Tryouts.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding-right: 20px;
	padding-top: 20px;
}

a {
	color: black;
}


#search-results-name {
	font-family: "Georgia", Times, serif;
	color: white;
	font-weight: bold
}

#search-results-game {
	color: #FA8320;
	font-weight: bold
}

#chat-field {
	text-align: left;
	background: white;
	width: 50%;
	float: right;
	padding-top: 10px;
	height: 285px;
	overflow: auto;
}

#message {
	margin-left: 10px;
	position: relative;
	width: 75%;
	padding-left: 5px;
	margin-bottom: 10px
}

#message-button {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 10px
}

#count {
	text-align: left;
	margin-left: -28px;
	position: relative;
}

#profile-container {
	padding-left: 25px;
	padding-top: 1px;
	background: black;
	color: black;
	padding-bottom: 30px;
}

#profile-header {
	color: white;
	text-align: center;
	font-family: 'Candal', sans-serif;
}

#image-div {
	display: inline-block;
	width: 45%;
}

#about-me-div {
	float: right;
	width: 45%;
	color: black;
	position: relative;
	background: white;
	height: 200px;
	margin-right: 30px;
}

#about-me {
	position: relative;
	height: 75%;
	padding-left: 10px;
	padding-top: 5px;
	word-wrap:break-word;
	overflow: auto;
}

#profile-text-area {
	display: none;
	position: relative;
	height: 75%;
	width: 100%;
	padding-left: 10px;
	padding-top: 5px;
}

#about-confirm {
	display: none;
	position: relative
}

#about-update {
	margin-left: 10px
}

#no-results {
	color: white;
}


#about-me-header {
	font-family: 'Alegreya';
}

#skill-label {
	color: white;
}

#about-confirm {
	margin-left: 10px
}

#update-message {
	color: white;
}





